<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>you login as:{{ user.username }}</h2>

    name:
    <p>{{ object.name }}</p>
    city:
    <p>{{ object.city }}</p>


    <button type="button"  id="submit">
        <a href="{% url 'updateschool' object.id %}">profile</a></button>

    <button><a href="{% url 'updateuser' request.user.id %}">User profile</a></button>

    <br/>

    <button type="button">
        <a href="{% url 'teacherdetail' %}">Teacher</a>
        </button>

    <button type="button">
        <a href="{% url 'studentdetail' %}">student</a>
        </button>

    <br/>
    <button type="button">
        <a href="{% url 'logout' %}">logout</a>
        </button>


</body>
</html>